/*font style*/
@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner:wght@700&family=Open+Sans:wght@300;400;600;700&family=Poppins:ital,wght@0,500;0,700;1,400&family=Roboto:wght@300;400;700&display=swap');
/*common style*/

body {
    background-color: #Fff;
    font-family: 'Poppins', sans-serif;

}

#banner img{
    height: 100vh;

}
.carousel-item img{
    height: 100vh;
    
    border-radius: 5px;
}
.e-banner {
    padding-bottom: 20%;
}
.e-banner h5{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 65px;
    line-height: 85px;
    text-align: center;
    color: #FFFFFF;
}
.e-banner p{
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
color: #fff;
}



